@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600&display=swap');

body{
  background-color: rgb(175, 132, 248);
  font-size: 15px;
  font-family: 'Libre Franklin', sans-serif;
}

header{
    
    text-align: center;
    color: rgb(19, 11, 11);
}
div{
    padding: 6px;
    
}
section{
    
    margin: auto;
    height: 300;
    padding: 10px;
    min-width: 300px;
    max-width: 400px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0.5px 1.5px 1.5px 2.5px  
    rgba(0, 0, 0, 0.314);
}
footer{
    
    height: 60px;
    display: flex;
    margin: auto;
    align-items:center;
    justify-content: center;
    margin-top: 10px;
   
}
footer > p{
    color: black;
}
footer >  a{
    font-size: 30px;
    padding-left: 5px;
    text-decoration: none;
}

.bxl-github{
    color: black;
}
.bxl-linkedin-square{
    color: #2797CF;
    border-radius: 50%;
}
.bxl:hover{
    color: azure;
    transition: 0.3s;
}

@media screen and (max-width: 590px){
    section{
        min-width: 300px;
        min-height: 230px;
    }
    footer{
        margin-top: 25px;
        flex-direction: column;
    }
}





